.footer {
  background: var(--primary);
   padding: 1.5rem 0;
  text-align: center;

}

.footer__logo {
  display: inline-block;
  margin-bottom: 1.5rem;
  height: 150px;
  width: 150px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  border-bottom: 230px;


}

img{
  border-radius: 40px;
}


.footer__socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #fff;
}
