.slider-layout {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.slider {
  max-width: 616px;
}
/* slider */
.slider__content {
  white-space: nowrap;
  overflow: hidden;
}

.slider__item {
  display: inline-block;
  width: auto;
}

.slider__item img {
  height: auto;
  display: block;
  max-width: 100%;
}

.slider__dots {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.dot {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--primaryVariante);
  border-radius: 50%;
}

.isActive {
  background-color: var(--primary);
}

@media screen and (min-width: 768px) {
  .slider__dots {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .slider__content {
    max-width: 90rem;
  }
}

@media screen and (min-width: 1920px) {
  .slider__content {
    max-width: unset;
  }
}
